img {
  width: 60%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 60%;
  height: 10hv;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
